﻿@using Microsoft.AspNetCore.Mvc.Rendering
@model TennisBookings.Web.Areas.Admin.ViewModels.AddStaffMemberViewModel
@inject Services.IStaffRolesOptionsService StaffOptions
@{
    ViewData["Title"] = "Add Staff Member";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-12">
        <form class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.FirstName)
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.LastName)
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Role)
                @Html.DropDownListFor(m => m.Role, StaffOptions.Roles.Select(r =>
                    new SelectListItem { Text = r, Value = r}), new { @class = "form-control" })
            </div>
            <button type="submit" class="btn btn-primary">Add Staff Member</button>
        </form>
    </div>
</div>